* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position: relative;
}

audio {
  position: relative;
  height: 28px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 5px auto;
  padding: 5px auto;
  display: flex;
}

.container{
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: aqua;
  min-height: 120px;
}
.btn {
  position: relative;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  display: inline-flexbox;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  width: 400;
}

ul {
  list-style: none;
  position: relative;
  margin: 0px auto;
  padding: 5px;
  height: 1080px;
}

li {
  position: relative;
  margin: 0px auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
}

.Btn{
  width: 100px;
}

.songPlay{
  display: flex;
  justify-content: center;
  margin: 5px;
}
