* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}

audio {
  position: relative;
  height: 28px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 5px auto;
  padding: 5px auto;
  display: flex;
  /* display: none; */
}

.container {
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: rgb(255, 153, 0);
  min-height: 150px;
  border: 1px solid;
}
.container2 {
  background-color: cornflowerblue;
}
.btn {
  position: relative;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  display: inline-flexbox;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  width: 300;
}

ul {
  list-style: none;
  position: relative;
  margin: 0px auto;
  padding: 5px;
  height: 100vh;
}

li {
  position: relative;
  margin: 0px auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
}

.Btn {
  width: 100px;
  background-color: cornflowerblue;
}

.songPlay {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.blue {
  color: rgb(255, 0, 55);
}

.box {
  position: fixed;
  top: 15px;
  width: 120px;
  border-radius: 200px;
}
.box1 {
  left: 6%;
}

.box2 {
  right:6%;
}
h4{
  margin-top: 10px;
}