* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
audio {
  position: relative;
  height: 28px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 5px auto;
  padding: 5px auto;
  display: flex;
}

.btn {
  position: relative;
  margin: 5px auto;
  padding: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

ul {
  list-style: none;
  position: relative;
  margin: 0px auto;
  padding: 5px;
}

li {
  position: relative;
  margin: 0px auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
a {
  display: unset;
}
